<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button color="primary" slot="end" (click)="closeModal()"
      >Fechar X</ion-button
    >
    <ion-title>{{ update ? 'Atualizar Usuário ' : 'Novo Usuário' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #f="ngForm" (ngSubmit)="send(f)">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [(ngModel)]="datas.nome" name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="datas.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cpf</ion-label>
      <ion-input [(ngModel)]="datas.cpf" name="cpf"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">senha</ion-label>
      <ion-input type='password' [(ngModel)]="datas.senha" name="senha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">nivel</ion-label>
      <ion-input [(ngModel)]="datas.nivel" name="nivel"></ion-input>
    </ion-item>
    <ion-button ftytpill="outline" expand="block" type="ngSubmit"
      >{{ update ? 'Atualizar Usuário ' : 'Cadastrar Usuário' }}</ion-button
    >
  </form>
</ion-content>
